.header {
  padding: 25px 0 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__nav-list {
    display: none;
  }
}