$black: #000000;
$black-100: #3E3E3E;
$blue-100: #0075FF;
$blue-200: #005ECC;
$blue-300: #2E6EB7;
$white: #FFFFFF;
$grey-100: #9FADC2;
$grey-200: #F6F8FF;
$grey-300: #8F99A8;
$grey-400: #CCD0E0;

$md1: 1200px;
$md2: 992px;
$md3: 767px;
$md4: 575px;